@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-family: "Oswald", sans-serif;
}
html {
  background-color: #151136;
  height: 200vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
}
.title {
  display: flex;
}
.light {
  font-weight: 300;
}
.nav {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #1d2e43;
  display: flex;
  align-items: center;
  color: rgb(221, 221, 221);
  padding: 0.75rem 10rem;
  border-bottom: #33bd8c 2px solid;
  height: 9vh;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #273a50;
  line-height: 2.25rem;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(221, 221, 221);
  font-size: 1rem;
}

.faSearch {
  color: #33bd8c;
  cursor: pointer;
}

.profileDisplay {
  color: white;
  padding: 0rem 10rem;
  min-height: 23vh;
  background-color: #233845;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  outline: 2px rgb(109, 109, 109) solid;
  color: rgb(109, 109, 109);
  padding: 0.5rem;
  border-radius: 5px;
}

.active-true {
  outline: 3px #21ffb1 solid;
  color: #21ffb1;
}
.bottomOne {
  display: flex;
  padding: 1.5rem 10rem;
}

.summonerSpellIcon {
  width: 2rem;
}
.bottomTwo {
  display: flex;

  padding: 0rem 10rem;
}
.allBottoms {
  height: 100%;
  background-color: #142337;
}

.playerIcon {
  border-radius: 50%;
  width: 8rem;
}

.playerIconDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 23vh;
  padding: 1rem 0;
}
.playerIconDiv p {
  border: #33bd8c 3px solid;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  font-weight: 600;
}
.topLeft {
  background-color: #2b3e57;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.226);
  width: 100%;
}

.firstRowDivs:last-child {
  margin-left: 100px;
}

.masteryTitle {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0rem 1rem;
  background-color: #242f3f;
  font-size: 1rem;
  color: whitesmoke;
}

.masteryTitle h1 {
  font-weight: 300;
}

.soloRank {
  width: 8rem;
}

.rankedRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rankedIndi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rankedIndi h2 {
  color: whitesmoke;
}

.rankedIndi p {
  color: white;
  font-weight: 500;
}

.liveGameIcon {
  width: 5rem;
}
.champImage {
  width: 5rem;
}
.champsInLiveGame {
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
}
.individualLivePlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rankedDiv {
  width: 100%;
}
.rankedDiv:last-child {
  margin-left: 100px;
}

.summonerSpells {
  display: flex;
  justify-content: space-between;
}

.individualLivePlayer h2 {
  font-size: 1rem;
}

.redOverlay {
  background-color: rgba(255, 0, 0, 0.144);
  text-align: center;
  color: whitesmoke;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 0px 10px 0px;
}

.blueOverlay {
  background-color: rgba(4, 0, 255, 0.144);
  text-align: center;
  color: whitesmoke;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 0px 10px 0px;
}

.bottomLiveGame {
  text-align: center;
  height: 100%;
}

.noLiveGame {
  color: whitesmoke;
  padding-top: 50px;
  font-weight: 600;
}

.champAndSummonerSpell {
  display: flex;
  flex-direction: column;
}
